
.shape{
    width:130px;
    height:130px;
    text-align:center;
    margin:3vh;
}


.triangle{
    background: url(./shapes.png) no-repeat 0 0;
}

.square{
    background: url(./shapes.png) no-repeat -134px 0px;
}

.rectangle{
    background: url(./shapes.png) no-repeat -268px 0px;
}

.circle{
    background: url(./shapes.png) no-repeat -400px 0px;
}

.pentagon{
    background: url(./shapes.png) no-repeat -536px 0px;
}

.hexagon{
    background: url(./shapes.png) no-repeat -666px 0px;
}

.octagon{
    background: url(./shapes.png) no-repeat -798px 0px;
}

.diamond{
    background: url(./shapes.png) no-repeat -928px 0px;
}




.oval{
    background: url(./shapes.png) no-repeat 0px -134px;
}

.parallel{
    background: url(./shapes.png) no-repeat -134px -134px;
}

.trapezoid{
    background: url(./shapes.png) no-repeat -268px -134px;
}

.star{
    background: url(./shapes.png) no-repeat -400px -134px;
}

.halfCircle{
    background: url(./shapes.png) no-repeat -536px -134px;
}

.question{
    background: url(./shapes.png) no-repeat -666px -134px;
}

.arrow{
    background: url(./shapes.png) no-repeat -798px -134px;
}




/*              colors  must be below shapes             */

.red{
    background-color: red;
}

.green{
    background-color: green;
}
.blue{
    background-color: blue;
}